.centerImg {
    // border : 1px solid #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 70px;
    color:grey;
    // height: 70px;
    background-color: white;
    border-radius: 50%;
  }

  .BackButton{
    background: url('../../../assets/back_white.png') center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    outline: 0;
    color: white;
    box-shadow: 0 0 0 0;
    margin-right: 15px;
}

.TitleHeader{
    width: 100%;
    // padding: 0 10px 0 10px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    // background-color: blue;
}
.TitleText{
    display: inline-flex;
    text-align:left;
    font-size: 19px;
    width: 81%;
    color: #ffffff;
    // font-weight: 700;
    align-items: center;
}

.cl_title_fontsize{
font-size: 16px;
padding:3px;
color: rgb(160, 153, 153);
}

.cl_content_fontsize{
font-size:14px;
color: black;
padding:3px;
}



// .odd{
//     background-color:#f08132;
//   }
//   .even{
//     background-color: rgb(238, 56, 183);
//   }


  .loginButton{
    background-color: rgb(22, 134, 185);
    color: white;
    width:25%;
     margin-left:35%; 
     margin-right:35%;
      padding-top:12px;
      padding-bottom:12px; 
    font-size:18px;
  
}


.cl_card_css{
  width:100%;
  // height:80%;
  // border: 1px solid grey;
  box-shadow: none !important;
  // background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-bottom:20px;
  margin:0px;
  margin-top:-30px;
}

.cl_content_fontsize{
  font-size:18px;
  color:black;

}