<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-row>
      <ion-col size="1">
        <button ion-button class="cl-back-button" (click)="goBackword()" style="color:white;margin:7px"></button>
      </ion-col>
      <ion-col size="11" class="TitleHeader TitleText">
        <ion-title style="font-size:20px; margin-left:5px">{{title}}</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color:#f1f4f9; width:100%; height:100% ;">

    <img src="../../../assets/datanotfound.png" style="width:40%; height:300px; margin-left:30%; margin-right: 30%; margin-top:20%"/>
    <h1 align="center">No data available</h1>
    <label style="margin-left:5%; margin-right:5%; color: gray">There is no data to show you right now.</label>
  </div>

</ion-content>
